@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #383838;
  font-family: lato, sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 150px;
  margin: 0 auto;
}

.page {
  width: 100%;
  max-width: 1440px;
  padding: 0 150px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  margin-bottom: 70px;
}

@media (max-width: 960px) {
  .page,
.container {
    padding: 0 75px;
  }
}
@media (max-width: 768px) {
  .page,
.container {
    padding: 0 35px;
  }
}
@media (max-width: 575px) {
  .page {
    padding: 0 8px;
  }
}
.header {
  font-size: 16px;
  margin-bottom: 20px;
}
.header__top {
  background-color: #F7F7F7;
}
.header__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__item, .header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header__circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__circle {
  background: #1074EB;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.header__link:hover, .header__icon:hover {
  color: #9C9C9C;
}
.header__icon {
  font-size: 20px;
}
.header__main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__main a:hover, .header__main button:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__contact {
  font-size: 25px;
  font-weight: 500;
}
.header__contact-icon {
  display: none;
  color: #1074EB;
  font-size: 31px;
}
.header__form {
  position: relative;
  width: 292px;
}
.header__search {
  width: 100%;
  height: 37px;
  padding-left: 10px;
  border: 1px solid #C9C9C9;
  border-radius: 3px;
}
.header__search-btn {
  position: absolute;
  right: 1.7%;
  top: 50%;
  border-radius: 3px;
  padding: 3px 10px 5px;
  background: #1074EB;
  color: #fff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__search-mini {
  display: none;
  position: absolute;
  right: 3%;
  font-size: 18px;
  top: 50%;
  color: #383838;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  opacity: 0.9;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.header__social-icon {
  color: #1074EB;
  font-size: 20px;
}
.header__social-icon:last-child {
  color: #E92626;
}
.header__btn {
  background: #FF9900;
  padding: 8px 14px 10px 15px;
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
  min-width: 140px;
}
.header__person {
  color: #1074EB;
  font-size: 31px;
}
.header__email {
  display: none;
  position: absolute;
  bottom: -36px;
  right: 0;
}
.header__email-icon {
  display: none;
  position: absolute;
  bottom: -37px;
  right: 110px;
  color: #FF9900;
}

.nav {
  height: 55px;
  background: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  position: relative;
}
.nav__menu {
  height: 100%;
}
.nav__menu:hover .nav__drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px 3px 0 0;
  outline: solid rgba(0, 0, 0, 0.7) 10000px;
}
.nav__label {
  background: #1074EB;
  color: #fff;
  padding: 0 20px;
  height: 100%;
  font-weight: 500;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.nav__label > span {
  padding-left: 18px;
}
.nav__label .fa-xmark {
  display: none;
}
.nav__drop {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  background: #1074EB;
  color: #fff;
  padding: 56px 15px 0 0;
  z-index: 4;
}
.nav__category-lab {
  background: #1074EB;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  padding-left: 20px;
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
}
.nav__category-lab:hover {
  background: rgba(255, 255, 255, 0.4);
  border-top: 0;
}
.nav__back {
  display: none;
}
.nav__col {
  width: 50%;
}
.nav__arrow {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #fff;
  border-right: 0 solid #fff;
}
.nav__submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 92%;
  padding: 70px 15px 30px 20px;
  background: #1074EB;
  height: 100%;
  width: 500px;
  border-radius: 0 3px 0 0;
  -webkit-transition: height 2s;
  -o-transition: height 2s;
  transition: height 2s;
}
.nav__submenu-item {
  position: relative;
  margin-bottom: 22px;
}
.nav__submenu-item span {
  color: #A5B5E2;
}
.nav__submenu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  height: 100%;
}
.nav__submenu-inner::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(56, 56, 56, 0.3);
  border-radius: 10px;
}
.nav__submenu-inner::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 10px;
  height: 20px;
}
.nav__sub {
  cursor: pointer;
  white-space: pre-wrap;
}
.nav__sub-list {
  display: none;
}
.nav__sub-list li {
  margin: 15px 0 0 40px;
  font-size: 14px;
}
.nav__sub-list li span {
  color: #A5B5E2;
}
.nav__check {
  display: none;
}
.nav__check2 {
  display: none;
}
.nav__check3 ~ .nav__sub::before {
  content: "+";
  text-align: center;
  width: 21px;
  height: 21px;
  background: #383838;
  border-radius: 3px;
  margin-right: 10px;
  display: inline-block;
}

.nav__drop li:nth-child(1):hover .nav__submenu1 {
  display: block;
}

.nav__drop li:nth-child(2):hover .nav__submenu2 {
  display: block;
}

.nav__drop li:nth-child(3):hover .nav__submenu3 {
  display: block;
}

.nav__drop li:nth-child(4):hover .nav__submenu4 {
  display: block;
}

.nav__drop li:nth-child(5):hover .nav__submenu5 {
  display: block;
}

.nav__drop li:nth-child(6):hover .nav__submenu6 {
  display: block;
}

.nav__drop li:nth-child(7):hover .nav__submenu7 {
  display: block;
}

.nav__drop li:nth-child(8):hover .nav__submenu8 {
  display: block;
}

.nav__drop li:nth-child(9):hover .nav__submenu9 {
  display: block;
}

.nav__drop li:nth-child(10):hover .nav__submenu10 {
  display: block;
}

#sub-check1:checked ~ .sub-check1::before {
  color: #fff;
  content: "-";
}
#sub-check1:checked ~ .nav__sub-list1 {
  display: block;
}

#sub-check2:checked ~ .sub-check2::before {
  color: #fff;
  content: "-";
}
#sub-check2:checked ~ .nav__sub-list2 {
  display: block;
}

#sub-check3:checked ~ .sub-check3::before {
  color: #fff;
  content: "-";
}
#sub-check3:checked ~ .nav__sub-list3 {
  display: block;
}

#sub-check4:checked ~ .sub-check4::before {
  color: #fff;
  content: "-";
}
#sub-check4:checked ~ .nav__sub-list4 {
  display: block;
}

#sub-check5:checked ~ .sub-check5::before {
  color: #fff;
  content: "-";
}
#sub-check5:checked ~ .nav__sub-list5 {
  display: block;
}

#sub-check6:checked ~ .sub-check6::before {
  color: #fff;
  content: "-";
}
#sub-check6:checked ~ .nav__sub-list6 {
  display: block;
}

#sub-check7:checked ~ .sub-check7::before {
  color: #fff;
  content: "-";
}
#sub-check7:checked ~ .nav__sub-list7 {
  display: block;
}

#sub-check8:checked ~ .sub-check8::before {
  color: #fff;
  content: "-";
}
#sub-check8:checked ~ .nav__sub-list8 {
  display: block;
}

#sub-check9:checked ~ .sub-check9::before {
  color: #fff;
  content: "-";
}
#sub-check9:checked ~ .nav__sub-list9 {
  display: block;
}

#sub-check10:checked ~ .sub-check10::before {
  color: #fff;
  content: "-";
}
#sub-check10:checked ~ .nav__sub-list10 {
  display: block;
}

#sub-check11:checked ~ .sub-check11::before {
  color: #fff;
  content: "-";
}
#sub-check11:checked ~ .nav__sub-list11 {
  display: block;
}

#sub-check12:checked ~ .sub-check12::before {
  color: #fff;
  content: "-";
}
#sub-check12:checked ~ .nav__sub-list12 {
  display: block;
}

#sub-check13:checked ~ .sub-check13::before {
  color: #fff;
  content: "-";
}
#sub-check13:checked ~ .nav__sub-list13 {
  display: block;
}

#sub-check14:checked ~ .sub-check14::before {
  color: #fff;
  content: "-";
}
#sub-check14:checked ~ .nav__sub-list14 {
  display: block;
}

#sub-check15:checked ~ .sub-check15::before {
  color: #fff;
  content: "-";
}
#sub-check15:checked ~ .nav__sub-list15 {
  display: block;
}

#sub-check16:checked ~ .sub-check16::before {
  color: #fff;
  content: "-";
}
#sub-check16:checked ~ .nav__sub-list16 {
  display: block;
}

#sub-check17:checked ~ .sub-check17::before {
  color: #fff;
  content: "-";
}
#sub-check17:checked ~ .nav__sub-list17 {
  display: block;
}

#sub-check18:checked ~ .sub-check18::before {
  color: #fff;
  content: "-";
}
#sub-check18:checked ~ .nav__sub-list18 {
  display: block;
}

#sub-check19:checked ~ .sub-check19::before {
  color: #fff;
  content: "-";
}
#sub-check19:checked ~ .nav__sub-list19 {
  display: block;
}

#sub-check20:checked ~ .sub-check20::before {
  color: #fff;
  content: "-";
}
#sub-check20:checked ~ .nav__sub-list20 {
  display: block;
}

#sub-check21:checked ~ .sub-check21::before {
  color: #fff;
  content: "-";
}
#sub-check21:checked ~ .nav__sub-list21 {
  display: block;
}

#sub-check22:checked ~ .sub-check22::before {
  color: #fff;
  content: "-";
}
#sub-check22:checked ~ .nav__sub-list22 {
  display: block;
}

#sub-check23:checked ~ .sub-check23::before {
  color: #fff;
  content: "-";
}
#sub-check23:checked ~ .nav__sub-list23 {
  display: block;
}

#sub-check24:checked ~ .sub-check24::before {
  color: #fff;
  content: "-";
}
#sub-check24:checked ~ .nav__sub-list24 {
  display: block;
}

#sub-check25:checked ~ .sub-check25::before {
  color: #fff;
  content: "-";
}
#sub-check25:checked ~ .nav__sub-list25 {
  display: block;
}

#sub-check26:checked ~ .sub-check26::before {
  color: #fff;
  content: "-";
}
#sub-check26:checked ~ .nav__sub-list26 {
  display: block;
}

#sub-check27:checked ~ .sub-check27::before {
  color: #fff;
  content: "-";
}
#sub-check27:checked ~ .nav__sub-list27 {
  display: block;
}

#sub-check28:checked ~ .sub-check28::before {
  color: #fff;
  content: "-";
}
#sub-check28:checked ~ .nav__sub-list28 {
  display: block;
}

#sub-check29:checked ~ .sub-check29::before {
  color: #fff;
  content: "-";
}
#sub-check29:checked ~ .nav__sub-list29 {
  display: block;
}

#sub-check30:checked ~ .sub-check30::before {
  color: #fff;
  content: "-";
}
#sub-check30:checked ~ .nav__sub-list30 {
  display: block;
}

#sub-check31:checked ~ .sub-check31::before {
  color: #fff;
  content: "-";
}
#sub-check31:checked ~ .nav__sub-list31 {
  display: block;
}

#sub-check32:checked ~ .sub-check32::before {
  color: #fff;
  content: "-";
}
#sub-check32:checked ~ .nav__sub-list32 {
  display: block;
}

#sub-check33:checked ~ .sub-check33::before {
  color: #fff;
  content: "-";
}
#sub-check33:checked ~ .nav__sub-list33 {
  display: block;
}

#sub-check34:checked ~ .sub-check34::before {
  color: #fff;
  content: "-";
}
#sub-check34:checked ~ .nav__sub-list34 {
  display: block;
}

#sub-check35:checked ~ .sub-check35::before {
  color: #fff;
  content: "-";
}
#sub-check35:checked ~ .nav__sub-list35 {
  display: block;
}

#sub-check36:checked ~ .sub-check36::before {
  color: #fff;
  content: "-";
}
#sub-check36:checked ~ .nav__sub-list36 {
  display: block;
}

#sub-check37:checked ~ .sub-check37::before {
  color: #fff;
  content: "-";
}
#sub-check37:checked ~ .nav__sub-list37 {
  display: block;
}

#sub-check38:checked ~ .sub-check38::before {
  color: #fff;
  content: "-";
}
#sub-check38:checked ~ .nav__sub-list38 {
  display: block;
}

#sub-check39:checked ~ .sub-check39::before {
  color: #fff;
  content: "-";
}
#sub-check39:checked ~ .nav__sub-list39 {
  display: block;
}

#sub-check40:checked ~ .sub-check40::before {
  color: #fff;
  content: "-";
}
#sub-check40:checked ~ .nav__sub-list40 {
  display: block;
}

#sub-check41:checked ~ .sub-check41::before {
  color: #fff;
  content: "-";
}
#sub-check41:checked ~ .nav__sub-list41 {
  display: block;
}

#sub-check42:checked ~ .sub-check42::before {
  color: #fff;
  content: "-";
}
#sub-check42:checked ~ .nav__sub-list42 {
  display: block;
}

#sub-check43:checked ~ .sub-check43::before {
  color: #fff;
  content: "-";
}
#sub-check43:checked ~ .nav__sub-list43 {
  display: block;
}

#sub-check44:checked ~ .sub-check44::before {
  color: #fff;
  content: "-";
}
#sub-check44:checked ~ .nav__sub-list44 {
  display: block;
}

#sub-check45:checked ~ .sub-check45::before {
  color: #fff;
  content: "-";
}
#sub-check45:checked ~ .nav__sub-list45 {
  display: block;
}

#sub-check46:checked ~ .sub-check46::before {
  color: #fff;
  content: "-";
}
#sub-check46:checked ~ .nav__sub-list46 {
  display: block;
}

#sub-check47:checked ~ .sub-check47::before {
  color: #fff;
  content: "-";
}
#sub-check47:checked ~ .nav__sub-list47 {
  display: block;
}

#sub-check48:checked ~ .sub-check48::before {
  color: #fff;
  content: "-";
}
#sub-check48:checked ~ .nav__sub-list48 {
  display: block;
}

#sub-check49:checked ~ .sub-check49::before {
  color: #fff;
  content: "-";
}
#sub-check49:checked ~ .nav__sub-list49 {
  display: block;
}

#sub-check50:checked ~ .sub-check50::before {
  color: #fff;
  content: "-";
}
#sub-check50:checked ~ .nav__sub-list50 {
  display: block;
}

#sub-check51:checked ~ .sub-check51::before {
  color: #fff;
  content: "-";
}
#sub-check51:checked ~ .nav__sub-list51 {
  display: block;
}

#sub-check52:checked ~ .sub-check52::before {
  color: #fff;
  content: "-";
}
#sub-check52:checked ~ .nav__sub-list52 {
  display: block;
}

#sub-check53:checked ~ .sub-check53::before {
  color: #fff;
  content: "-";
}
#sub-check53:checked ~ .nav__sub-list53 {
  display: block;
}

#sub-check54:checked ~ .sub-check54::before {
  color: #fff;
  content: "-";
}
#sub-check54:checked ~ .nav__sub-list54 {
  display: block;
}

#sub-check55:checked ~ .sub-check55::before {
  color: #fff;
  content: "-";
}
#sub-check55:checked ~ .nav__sub-list55 {
  display: block;
}

#sub-check56:checked ~ .sub-check56::before {
  color: #fff;
  content: "-";
}
#sub-check56:checked ~ .nav__sub-list56 {
  display: block;
}

#sub-check57:checked ~ .sub-check57::before {
  color: #fff;
  content: "-";
}
#sub-check57:checked ~ .nav__sub-list57 {
  display: block;
}

#sub-check58:checked ~ .sub-check58::before {
  color: #fff;
  content: "-";
}
#sub-check58:checked ~ .nav__sub-list58 {
  display: block;
}

#sub-check59:checked ~ .sub-check59::before {
  color: #fff;
  content: "-";
}
#sub-check59:checked ~ .nav__sub-list59 {
  display: block;
}

#sub-check60:checked ~ .sub-check60::before {
  color: #fff;
  content: "-";
}
#sub-check60:checked ~ .nav__sub-list60 {
  display: block;
}

#sub-check61:checked ~ .sub-check61::before {
  color: #fff;
  content: "-";
}
#sub-check61:checked ~ .nav__sub-list61 {
  display: block;
}

#sub-check62:checked ~ .sub-check62::before {
  color: #fff;
  content: "-";
}
#sub-check62:checked ~ .nav__sub-list62 {
  display: block;
}

#sub-check63:checked ~ .sub-check63::before {
  color: #fff;
  content: "-";
}
#sub-check63:checked ~ .nav__sub-list63 {
  display: block;
}

#sub-check64:checked ~ .sub-check64::before {
  color: #fff;
  content: "-";
}
#sub-check64:checked ~ .nav__sub-list64 {
  display: block;
}

#sub-check65:checked ~ .sub-check65::before {
  color: #fff;
  content: "-";
}
#sub-check65:checked ~ .nav__sub-list65 {
  display: block;
}

#sub-check66:checked ~ .sub-check66::before {
  color: #fff;
  content: "-";
}
#sub-check66:checked ~ .nav__sub-list66 {
  display: block;
}

#sub-check67:checked ~ .sub-check67::before {
  color: #fff;
  content: "-";
}
#sub-check67:checked ~ .nav__sub-list67 {
  display: block;
}

#sub-check68:checked ~ .sub-check68::before {
  color: #fff;
  content: "-";
}
#sub-check68:checked ~ .nav__sub-list68 {
  display: block;
}

#sub-check69:checked ~ .sub-check69::before {
  color: #fff;
  content: "-";
}
#sub-check69:checked ~ .nav__sub-list69 {
  display: block;
}

#sub-check70:checked ~ .sub-check70::before {
  color: #fff;
  content: "-";
}
#sub-check70:checked ~ .nav__sub-list70 {
  display: block;
}

#sub-check71:checked ~ .sub-check71::before {
  color: #fff;
  content: "-";
}
#sub-check71:checked ~ .nav__sub-list71 {
  display: block;
}

#sub-check72:checked ~ .sub-check72::before {
  color: #fff;
  content: "-";
}
#sub-check72:checked ~ .nav__sub-list72 {
  display: block;
}

#sub-check73:checked ~ .sub-check73::before {
  color: #fff;
  content: "-";
}
#sub-check73:checked ~ .nav__sub-list73 {
  display: block;
}

#sub-check74:checked ~ .sub-check74::before {
  color: #fff;
  content: "-";
}
#sub-check74:checked ~ .nav__sub-list74 {
  display: block;
}

#sub-check75:checked ~ .sub-check75::before {
  color: #fff;
  content: "-";
}
#sub-check75:checked ~ .nav__sub-list75 {
  display: block;
}

#sub-check76:checked ~ .sub-check76::before {
  color: #fff;
  content: "-";
}
#sub-check76:checked ~ .nav__sub-list76 {
  display: block;
}

#sub-check77:checked ~ .sub-check77::before {
  color: #fff;
  content: "-";
}
#sub-check77:checked ~ .nav__sub-list77 {
  display: block;
}

#sub-check78:checked ~ .sub-check78::before {
  color: #fff;
  content: "-";
}
#sub-check78:checked ~ .nav__sub-list78 {
  display: block;
}

#sub-check79:checked ~ .sub-check79::before {
  color: #fff;
  content: "-";
}
#sub-check79:checked ~ .nav__sub-list79 {
  display: block;
}

#sub-check80:checked ~ .sub-check80::before {
  color: #fff;
  content: "-";
}
#sub-check80:checked ~ .nav__sub-list80 {
  display: block;
}

#sub-check81:checked ~ .sub-check81::before {
  color: #fff;
  content: "-";
}
#sub-check81:checked ~ .nav__sub-list81 {
  display: block;
}

#sub-check82:checked ~ .sub-check82::before {
  color: #fff;
  content: "-";
}
#sub-check82:checked ~ .nav__sub-list82 {
  display: block;
}

#sub-check83:checked ~ .sub-check83::before {
  color: #fff;
  content: "-";
}
#sub-check83:checked ~ .nav__sub-list83 {
  display: block;
}

#sub-check84:checked ~ .sub-check84::before {
  color: #fff;
  content: "-";
}
#sub-check84:checked ~ .nav__sub-list84 {
  display: block;
}

#sub-check85:checked ~ .sub-check85::before {
  color: #fff;
  content: "-";
}
#sub-check85:checked ~ .nav__sub-list85 {
  display: block;
}

#sub-check86:checked ~ .sub-check86::before {
  color: #fff;
  content: "-";
}
#sub-check86:checked ~ .nav__sub-list86 {
  display: block;
}

#sub-check87:checked ~ .sub-check87::before {
  color: #fff;
  content: "-";
}
#sub-check87:checked ~ .nav__sub-list87 {
  display: block;
}

#sub-check88:checked ~ .sub-check88::before {
  color: #fff;
  content: "-";
}
#sub-check88:checked ~ .nav__sub-list88 {
  display: block;
}

#sub-check89:checked ~ .sub-check89::before {
  color: #fff;
  content: "-";
}
#sub-check89:checked ~ .nav__sub-list89 {
  display: block;
}

#sub-check90:checked ~ .sub-check90::before {
  color: #fff;
  content: "-";
}
#sub-check90:checked ~ .nav__sub-list90 {
  display: block;
}

#sub-check91:checked ~ .sub-check91::before {
  color: #fff;
  content: "-";
}
#sub-check91:checked ~ .nav__sub-list91 {
  display: block;
}

.nav__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.nav__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__link:hover {
  color: #9C9C9C;
}

.header .slider {
  padding: 0 20px;
}
.header .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 23px;
}
.header .slick-list {
  overflow: hidden;
}
.header .slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  font-size: 0;
  background: transparent;
}
.header .slider .slick-arrow.slick-next {
  right: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #9C9C9C;
  border-right: 0 solid #9C9C9C;
}
.header .slider .slick-arrow.slick-next:hover {
  border-left: 5px solid #C9C9C9;
  border-right: 0 solid #C9C9C9;
}
.header .grad-box {
  width: 80px;
  height: 100%;
  position: absolute;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(75%, #F7F7F7));
  background: -o-linear-gradient(left, transparent 0%, #F7F7F7 75%);
  background: linear-gradient(to right, transparent 0%, #F7F7F7 75%);
  z-index: 2;
}

@media (max-width: 1400px) {
  .header__contact {
    font-size: 20px;
  }
  .header__social {
    gap: 10px;
  }
  .header__contact {
    display: none;
  }
  .header__contact-icon {
    display: block;
  }
}
@media (max-width: 1280px) {
  .header__item-center {
    display: none;
  }
  .header__social {
    position: absolute;
    top: 15px;
    left: 50%;
    gap: 20px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 1024px) {
  .header__social {
    gap: 15px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
@media (max-width: 960px) {
  .nav__menu:hover .nav__drop {
    display: none;
  }
  .nav__submenu {
    width: 450px;
  }
  .nav__category-lab:hover {
    background: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .nav__check:checked ~ .nav__drop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px 3px 0 0;
    outline: solid rgba(0, 0, 0, 0.7) 10000px;
  }
  .nav__check2:checked ~ .nav__drop {
    border-radius: 3px 0 0 0;
  }
  .nav__check2:checked ~ .nav__category-lab .nav__back {
    display: block;
  }
  .nav__check2:checked ~ .nav__category-lab .nav__name {
    display: none;
  }
  .nav__check2:checked ~ .nav__category-lab .nav__arrow {
    border-top: 4px solid #fff;
    border-bottom: 0 solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  .nav__drop li:nth-child(1):hover .nav__submenu1 {
    display: none;
  }
  .nav__drop li:nth-child(2):hover .nav__submenu2 {
    display: none;
  }
  .nav__drop li:nth-child(3):hover .nav__submenu3 {
    display: none;
  }
  .nav__drop li:nth-child(4):hover .nav__submenu4 {
    display: none;
  }
  .nav__drop li:nth-child(5):hover .nav__submenu5 {
    display: none;
  }
  .nav__drop li:nth-child(6):hover .nav__submenu6 {
    display: none;
  }
  .nav__drop li:nth-child(7):hover .nav__submenu7 {
    display: none;
  }
  .nav__drop li:nth-child(8):hover .nav__submenu8 {
    display: none;
  }
  .nav__drop li:nth-child(9):hover .nav__submenu9 {
    display: none;
  }
  .nav__drop li:nth-child(10):hover .nav__submenu10 {
    display: none;
  }
  #category-check1:checked ~ .category-check1 {
    background: rgba(255, 255, 255, 0.4);
    border-top: 0;
  }
  #category-check1:checked ~ .nav__submenu1 {
    display: block;
  }
  #category-check2:checked ~ .category-check2 {
    background: rgba(255, 255, 255, 0.4);
    border-top: 0;
  }
  #category-check2:checked ~ .nav__submenu2 {
    display: block;
  }
  #category-check3:checked ~ .category-check3 {
    background: rgba(255, 255, 255, 0.4);
    border-top: 0;
  }
  #category-check3:checked ~ .nav__submenu3 {
    display: block;
  }
  #category-check4:checked ~ .category-check4 {
    background: rgba(255, 255, 255, 0.4);
    border-top: 0;
  }
  #category-check4:checked ~ .nav__submenu4 {
    display: block;
  }
  #category-check5:checked ~ .category-check5 {
    background: rgba(255, 255, 255, 0.4);
    border-top: 0;
  }
  #category-check5:checked ~ .nav__submenu5 {
    display: block;
  }
  #category-check6:checked ~ .category-check6 {
    background: rgba(255, 255, 255, 0.4);
    border-top: 0;
  }
  #category-check6:checked ~ .nav__submenu6 {
    display: block;
  }
  #category-check7:checked ~ .category-check7 {
    background: rgba(255, 255, 255, 0.4);
    border-top: 0;
  }
  #category-check7:checked ~ .nav__submenu7 {
    display: block;
  }
  #category-check8:checked ~ .category-check8 {
    background: rgba(255, 255, 255, 0.4);
    border-top: 0;
  }
  #category-check8:checked ~ .nav__submenu8 {
    display: block;
  }
  #category-check9:checked ~ .category-check9 {
    background: rgba(255, 255, 255, 0.4);
    border-top: 0;
  }
  #category-check9:checked ~ .nav__submenu9 {
    display: block;
  }
  #category-check10:checked ~ .category-check10 {
    background: rgba(255, 255, 255, 0.4);
    border-top: 0;
  }
  #category-check10:checked ~ .nav__submenu10 {
    display: block;
  }
}
@media (max-width: 768px) {
  .header__link:first-child {
    display: none;
  }
  .header__form {
    position: absolute;
    width: 35%;
    top: 8px;
    left: 150px;
  }
  .header__search-btn {
    display: none;
  }
  .header__search-mini {
    display: block;
  }
  .header__social {
    display: none;
  }
  .header__submenu {
    top: -100px;
  }
  .nav__submenu {
    padding: 70px 15px 30px 45px;
    width: 285px;
  }
  .nav__submenu-inner {
    display: block;
  }
  .nav__col {
    width: 100%;
    display: block;
  }
}
@media (max-width: 575px) {
  .header {
    padding-bottom: 105px;
    position: relative;
  }
  .header__top {
    background: #fff;
  }
  .header__item:last-child {
    z-index: 2;
  }
  .header__main {
    position: relative;
    padding-bottom: 16px;
    border-bottom: 1px solid #9C9C9C;
  }
  .header__logo {
    max-width: 105px;
  }
  .header__link {
    display: none;
  }
  .header__contact {
    display: block;
    position: absolute;
    bottom: -37px;
    left: 32px;
    font-size: 16px;
  }
  .header__contact-icon {
    position: absolute;
    bottom: -40px;
    font-size: 23px;
    color: #FF9900;
  }
  .header__form {
    position: absolute;
    width: 100%;
    top: 115px;
    left: 0;
  }
  .header__btn {
    display: none;
  }
  .header__person {
    position: absolute;
    right: 50px;
  }
  .header__item:last-child {
    position: absolute;
    right: 110px;
    top: 52px;
  }
  .header__email {
    display: block;
  }
  .header__email-icon {
    display: block;
  }
  .nav {
    background: transparent;
    height: 0;
  }
  .nav .grad-box {
    display: none;
  }
  .nav__drop {
    width: 100%;
    top: -85px;
    padding: 95px 15px 0;
  }
  .nav__label {
    padding: 0;
    height: 31px;
    width: 23.25px;
    font-weight: 400;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    right: 0;
    top: -46px;
  }
  .nav__label > span {
    display: none;
  }
  .nav__check:checked ~ .nav__label .fa-xmark {
    display: block;
  }
  .nav__check:checked ~ .nav__label .fa-bars {
    display: none;
  }
  .nav__check:checked ~ .nav__label {
    right: 15px;
  }
  .nav__submenu {
    left: 0;
    top: 0;
    position: unset;
    padding: 30px 15px 30px 5px;
    height: 270px;
    width: 100%;
  }
  .nav__slider {
    display: none;
  }
}
@media (max-width: 375px) {
  .header__item {
    gap: 15px;
  }
  .header__item:last-child {
    right: 80px;
  }
  .header__contact {
    left: 25px;
  }
  .header__person {
    right: 35px;
  }
  .header__email-icon {
    right: 97px;
  }
  .nav__submenu {
    width: 100%;
  }
}
.intro {
  margin-bottom: 110px;
  position: relative;
}
.intro__inner {
  position: relative;
}
.intro__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  max-width: 1140px;
  position: relative;
  border-radius: 3px;
}
.intro__slider-first {
  background: url("../images/stars.svg") no-repeat, #EEF1F8;
  background-size: cover;
  background-position: center;
}
.intro__slider-first .intro__img img {
  bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}
.intro__slider-second {
  background: url("../images/bg-slide2.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.intro__slider-second .intro__content {
  width: 55%;
}
.intro__slider-second .intro__title {
  color: #fff;
  margin-bottom: 15px;
}
.intro__slider-second .intro__img img {
  bottom: 0;
}
.intro__slider-third {
  background: #F5F5F5;
  overflow: hidden;
}
.intro__slider-third span {
  font-weight: 800;
}
.intro__slider-third .intro__title {
  text-transform: uppercase;
}
.intro__slider-third__content {
  position: relative;
  z-index: 20;
}
.intro__slider-third:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: url("../images/bg-slide3.png") center/50% no-repeat;
  -webkit-transform: translate3d(-50%, -50%);
          transform: translate3d(-50%, -50%);
  z-index: 0;
}
.intro__slider-third .intro__img img {
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}
.intro__content {
  width: 50%;
  padding: 85px 20px 70px 8.5%;
  z-index: 1;
}
.intro__title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
}
.intro__text {
  color: #9C9C9C;
}
.intro__btn {
  width: 185px;
  position: absolute;
  bottom: 72px;
  left: 8.5%;
  color: #fff;
  background: #1074EB;
  border-radius: 3px;
  height: 55px;
  font-size: 16px;
  z-index: 1;
}
.intro__btn:hover {
  opacity: 0.85;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 575px) {
  .intro__btn {
    height: 50px;
  }
}
.intro__img {
  width: 50%;
  position: relative;
  z-index: 2;
}
.intro__img > img {
  max-width: 100%;
  height: auto;
  position: absolute;
}
.intro__slider-third img {
  max-width: 440px;
}
.intro__link {
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 15px;
  background: url("../images/snow-btn.png");
  color: #fff;
  position: absolute;
  left: 20px;
  top: 55%;
  border-radius: 3px;
}
.intro__price {
  text-transform: uppercase;
  background: url("../images/snow-price.png");
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  position: absolute;
  top: 25%;
  right: 10%;
  border-radius: 3px;
}
.intro__border-box {
  width: 100px;
  height: 100px;
  position: absolute;
}
.intro .box1 {
  border-top: 1px solid #C9C9C9;
  border-left: 1px solid #C9C9C9;
  top: 30px;
  left: 30px;
}
.intro .box2 {
  border-top: 1px solid #C9C9C9;
  border-right: 1px solid #C9C9C9;
  top: 50%;
  left: -80px;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.intro .box3 {
  border-bottom: 1px solid #C9C9C9;
  border-left: 1px solid #C9C9C9;
  bottom: 30px;
  left: 30px;
}
.intro .box4 {
  border-top: 1px solid #C9C9C9;
  border-right: 1px solid #C9C9C9;
  left: 50%;
  bottom: -80px;
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}
.intro .box5 {
  border-bottom: 1px solid #C9C9C9;
  border-right: 1px solid #C9C9C9;
  bottom: 30px;
  right: 30px;
}
.intro .box6 {
  border-top: 1px solid #C9C9C9;
  border-right: 1px solid #C9C9C9;
  top: 50%;
  right: -80px;
  -webkit-transform: translateY(-50%) rotate(225deg);
      -ms-transform: translateY(-50%) rotate(225deg);
          transform: translateY(-50%) rotate(225deg);
}
.intro .box7 {
  border-top: 1px solid #C9C9C9;
  border-right: 1px solid #C9C9C9;
  top: 30px;
  right: 30px;
}
.intro .box8 {
  border-top: 1px solid #C9C9C9;
  border-right: 1px solid #C9C9C9;
  left: 50%;
  top: -80px;
  -webkit-transform: translateX(-50%) rotate(-225deg);
      -ms-transform: translateX(-50%) rotate(-225deg);
          transform: translateX(-50%) rotate(-225deg);
}

.intro__inner .slick-list {
  overflow: hidden;
}
.intro__inner .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}
.intro__inner.slick-slider {
  position: relative;
}
.intro__inner .slick-arrow {
  color: #fff;
  background: #1074EB;
  border-radius: 3px;
  height: 55px;
  font-size: 16px;
  width: 55px;
  font-size: 0;
  position: absolute;
  bottom: 14.5%;
}
.intro__inner .slick-arrow:hover {
  opacity: 0.85;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 575px) {
  .intro__inner .slick-arrow {
    height: 50px;
  }
}
.intro__inner .slick-prev {
  left: 303px;
  z-index: 1;
}
.intro__inner .slick-prev:after {
  content: "";
  width: 7px;
  height: 14px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #fff;
  border-left: 0 solid #fff;
}
.intro__inner .slick-next {
  left: 368px;
  z-index: 1;
}
.intro__inner .slick-next:after {
  content: "";
  width: 7px;
  height: 14px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #fff;
  border-right: 0 solid #fff;
}

@media (max-width: 1400px) {
  .intro__slider-third img {
    max-width: 400px;
  }
  .intro__title {
    font-size: 55px;
  }
}
@media (max-width: 1280px) {
  .intro__slider-third img {
    max-width: 300px;
  }
  .intro__content {
    padding: 65px 20px 60px 8.5%;
  }
  .intro__title {
    font-size: 47px;
  }
  .intro__text {
    font-size: 18px;
  }
  .intro__price, .intro__link {
    font-size: 15px;
  }
  .intro__border-box {
    width: 70px;
    height: 70px;
  }
  .intro .box1 {
    top: 20px;
    left: 20px;
  }
  .intro .box2 {
    top: 50%;
    left: -60px;
  }
  .intro .box3 {
    bottom: 20px;
    left: 20px;
  }
  .intro .box4 {
    left: 50%;
    bottom: -60px;
  }
  .intro .box5 {
    bottom: 20px;
    right: 20px;
  }
  .intro .box6 {
    top: 50%;
    right: -60px;
  }
  .intro .box7 {
    top: 20px;
    right: 20px;
  }
  .intro .box8 {
    left: 50%;
    top: -60px;
  }
}
@media (max-width: 1024px) {
  .intro__slider-third img {
    max-width: 260px;
  }
  .intro__text {
    max-width: 195px;
  }
  .intro__price, .intro__link {
    font-size: 14px;
  }
}
@media (max-width: 960px) {
  .intro__slider-third:after {
    -webkit-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  .intro__slider-third .intro__content, .intro__slider-third .intro__img {
    position: relative;
    z-index: 2;
  }
  .intro__content {
    padding: 25px 45px 0;
  }
  .intro__title {
    font-size: 58px;
    text-align: center;
  }
  .intro__text {
    font-size: 21px;
    margin: 0;
    text-align: center;
  }
  .intro__btn {
    bottom: 10%;
  }
  .intro__link {
    left: 0%;
    top: 60%;
  }
  .intro .box2, .intro .box4, .intro .box6, .intro .box8 {
    display: none;
  }
  .intro .slick-arrow {
    bottom: 10%;
  }
}
@media (max-width: 768px) {
  .intro {
    margin-bottom: 140px;
  }
  .intro__slider-item {
    display: block;
    height: 590px;
  }
  .intro__slider-first .intro__img img {
    right: 50%;
    bottom: 0;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }
  .intro__slider-second .intro__content {
    width: 100%;
  }
  .intro__slider-second .intro__img img {
    right: 0;
  }
  .intro__slider-third .intro__img img {
    right: unset;
    bottom: -400px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    max-width: 65%;
  }
  .intro__content {
    width: 100%;
    padding: 35px 55px 0;
  }
  .intro__title {
    font-size: 50px;
  }
  .intro__text {
    font-size: 18px;
    max-width: 100%;
  }
  .intro__btn {
    width: 60%;
    bottom: -14.5%;
    left: 0;
  }
  .intro__link {
    left: 30px;
    top: -140px;
  }
  .intro__price {
    top: -220px;
    right: 10%;
  }
  .intro__img {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .intro__img > img {
    max-width: 80%;
    height: auto;
  }
  .intro .slick-arrow {
    bottom: -14.5%;
  }
  .intro .slick-prev {
    left: auto;
    right: 70px;
  }
  .intro .slick-next {
    left: auto;
    right: 0;
  }
}
@media (max-width: 695px) {
  .intro__slider-third .intro__img img {
    bottom: -330px;
    max-width: 60%;
  }
}
@media (max-width: 575px) {
  .intro__slider-second {
    overflow: hidden;
  }
  .intro__slider-third .intro__img img {
    max-width: 70%;
  }
  .intro__content {
    width: 100%;
    padding: 35px 15px 0;
  }
  .intro__title {
    font-size: 48px;
  }
  .intro .box1 {
    top: 10px;
    left: 10px;
  }
  .intro .box3 {
    bottom: 10px;
    left: 10px;
  }
  .intro .box5 {
    bottom: 10px;
    right: 10px;
  }
  .intro .box7 {
    top: 10px;
    right: 10px;
  }
}
@media (max-width: 375px) {
  .intro__title {
    font-size: 41px;
  }
  .intro__slider-third .intro__img img {
    max-width: 85%;
  }
  .intro__img > img {
    max-width: 100%;
  }
  .intro__btn {
    width: 55%;
  }
}
.goods {
  position: relative;
  margin-bottom: 100px;
}
.goods__slider-item {
  height: 480px;
  position: relative;
}
.goods__slider-item.sell .goods__sell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.goods__slider-item.new .goods__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.goods__img {
  position: relative;
  padding: 30px;
  background: #F7F7F7;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
.goods__img > img {
  max-width: 100%;
  height: auto;
}
.goods__favourite {
  color: #1074EB;
  position: absolute;
  top: 18px;
  right: 17px;
  cursor: pointer;
}
.goods__new {
  display: none;
  position: absolute;
  top: 18px;
  left: 0;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  width: 67px;
  height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF9900;
}
.goods__sell {
  display: none;
  position: absolute;
  top: 18px;
  left: 0;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  width: 67px;
  height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #E92626;
}
.goods__model {
  display: block;
  text-transform: uppercase;
  color: #9C9C9C;
  margin-bottom: 7px;
}
.goods__model:hover {
  color: #C9C9C9;
}
.goods__name:hover {
  color: #787878;
}
.goods__pricebox {
  position: absolute;
  bottom: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
}
.goods__price {
  font-weight: 500;
}
.goods__price-old {
  text-decoration: line-through;
  color: #C9C9C9;
}
.goods__stat {
  color: #1074EB;
}
.goods__stat:hover {
  opacity: 0.85;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.goods__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: #1074EB;
  border-radius: 3px;
  height: 55px;
  font-size: 16px;
}
.goods__btn:hover {
  opacity: 0.85;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 575px) {
  .goods__btn {
    height: 50px;
  }
}
.goods__btn > i {
  margin-right: 10px;
}
.goods .slick-slide {
  margin: 0 15px;
}
.goods .slick-list {
  margin-left: -15px;
  margin-right: -15px;
}
.goods .slick-list {
  overflow: hidden;
}
.goods .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.goods .slick-arrow {
  color: #fff;
  background: #1074EB;
  border-radius: 3px;
  height: 55px;
  font-size: 16px;
  width: 55px;
  font-size: 0;
  position: absolute;
  bottom: 14.5%;
}
.goods .slick-arrow:hover {
  opacity: 0.85;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 575px) {
  .goods .slick-arrow {
    height: 50px;
  }
}
.goods .slick-prev {
  right: 65px;
  top: 0;
  z-index: 1;
}
.goods .slick-prev:after {
  content: "";
  width: 7px;
  height: 14px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #fff;
  border-left: 0 solid #fff;
}
.goods .slick-next {
  right: 0;
  top: 0;
  z-index: 1;
}
.goods .slick-next:after {
  content: "";
  width: 7px;
  height: 14px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #fff;
  border-right: 0 solid #fff;
}

@media (max-width: 1400px) {
  .goods__price-old {
    position: absolute;
    left: 20px;
    bottom: 25px;
  }
}
@media (max-width: 575px) {
  .goods__model {
    font-size: 16px;
  }
  .goods__stat {
    position: absolute;
    bottom: -85px;
    right: 0;
    width: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    background: #1074EB;
    border-radius: 3px;
    height: 55px;
    font-size: 16px;
  }
  .goods__stat:hover {
    opacity: 0.85;
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media (max-width: 575px) and (max-width: 575px) {
  .goods__stat {
    height: 50px;
  }
}
@media (max-width: 575px) {
  .goods__pricebox {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .goods__btn {
    width: 67%;
  }
  .goods__btn > i {
    display: none;
  }
}
@media (max-width: 375px) {
  .goods__slider-item {
    height: 430px;
  }
  .goods__btn {
    width: 60%;
  }
}
.catalog {
  height: 300px;
  background: url("../images/catalog-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 100px;
}
.catalog__inner {
  padding: 50px 0;
}
.catalog__inner > img {
  position: absolute;
}
.catalog__img-left {
  left: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.catalog__img-right {
  right: 126px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.catalog__content {
  max-width: 340px;
  margin: 0 auto;
}
.catalog__title {
  font-size: 24px;
  color: #fff;
  letter-spacing: 1.1px;
}
.catalog__title:after {
  content: "";
  display: block;
  background: #fff;
  height: 1px;
  width: 100px;
  margin: 30px 0;
}
.catalog__btn {
  width: 77%;
  color: #fff;
  background: #1074EB;
  border-radius: 3px;
  height: 55px;
  font-size: 16px;
  background: #fff;
  color: #1074EB;
}
.catalog__btn:hover {
  opacity: 0.85;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 575px) {
  .catalog__btn {
    height: 50px;
  }
}

@media (max-width: 1400px) {
  .catalog__img-left {
    left: 20px;
  }
  .catalog__img-right {
    right: 35px;
  }
}
@media (max-width: 1280px) {
  .catalog img {
    max-width: 220px;
  }
  .catalog__img-left {
    left: unset;
    right: 25px;
  }
  .catalog__img-right {
    right: 95px;
  }
  .catalog__content {
    margin: 0 0 0 15%;
  }
}
@media (max-width: 1024px) {
  .catalog__content {
    margin: 0 0 0 5%;
    max-width: 50%;
  }
  .catalog__img-right {
    right: 90px;
  }
}
@media (max-width: 768px) {
  .catalog {
    height: 430px;
    overflow: hidden;
  }
  .catalog__inner {
    padding: 190px 0 0 0;
  }
  .catalog__img-left {
    left: -55px;
    right: unset;
    top: -35px;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
  .catalog__img-right {
    top: unset;
    right: -80px;
    bottom: -35px;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
  .catalog__content {
    max-width: 65%;
  }
  .catalog__title {
    font-size: 20px;
  }
  .catalog__title:after {
    margin: 45px 0 33px 0;
  }
}
@media (max-width: 575px) {
  .catalog__inner {
    padding: 170px 0 0 0;
  }
}
.advant {
  margin-bottom: 100px;
}
.advant__content-item {
  width: 25%;
  height: 250px;
  background: #F7F7F7;
  padding: 30px 10px;
  text-align: center;
}
.advant__img {
  margin-bottom: 30px;
}
.advant__caption {
  margin-bottom: 20px;
}
.advant__text {
  font-size: 16px;
  color: #9C9C9C;
}
.advant .slick-list {
  overflow: hidden;
}
.advant .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media (max-width: 1400px) {
  .advant__content-item {
    padding: 15px 8px;
  }
  .advant .slick-track {
    gap: 25px;
  }
}
@media (max-width: 1280px) {
  .advant__img {
    margin-bottom: 15px;
  }
  .advant__caption {
    margin-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  .advant .slick-track {
    gap: 10px;
  }
}
@media (max-width: 960px) {
  .advant .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advant .slick-dots li {
    margin: 0 8px;
  }
  .advant .slick-dots li.slick-active button {
    background-color: #1074EB;
  }
  .advant .slick-dots button {
    font-size: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(16, 116, 235, 0.3);
  }
}
.footer {
  background: #383838;
}
.footer__inner {
  padding-top: 46px;
}
.footer-white {
  display: block;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.2;
}
.footer-text {
  color: #9C9C9C;
  margin-bottom: 10px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__item {
  width: 25%;
  padding-right: 10px;
}
.footer__logo {
  margin-bottom: 26px;
}
.footer__link {
  display: block;
}
.footer__title-account {
  margin-top: 25px;
}
.footer__messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__tgm {
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
}
.footer__viber {
  margin-right: 20px;
  color: #fff;
  font-size: 20px;
}
.footer__btn {
  color: #fff;
  background: #1074EB;
  border-radius: 3px;
  height: 55px;
  font-size: 16px;
  width: 100%;
  margin: 30px 0;
}
.footer__btn:hover {
  opacity: 0.85;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 575px) {
  .footer__btn {
    height: 50px;
  }
}
.footer__btn > i {
  margin-right: 10px;
}
.footer__paysystem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer__copyright {
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.footer__check {
  display: none;
}

@media (max-width: 1280px) {
  .footer__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__number {
    white-space: nowrap;
  }
  .footer__support {
    display: none;
  }
}
@media (max-width: 960px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 560px;
    margin: 0 auto;
    position: relative;
  }
  .footer__item {
    width: 100%;
  }
  .footer__number {
    position: absolute;
    top: 0;
    right: 0;
  }
  .footer__email {
    float: right;
  }
  .footer__title {
    margin: 0;
    height: 54px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #9C9C9C;
  }
  .footer__info .footer__title {
    border-top: 1px solid #9C9C9C;
  }
  .footer__address {
    margin-bottom: 32px;
  }
  .footer__support {
    display: none;
  }
  .footer__drop {
    display: none;
  }
  .footer label.footer__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .footer__check ~ label.footer__title::after {
    content: "+";
    text-align: center;
    font-size: 24px;
  }
  #footer-check1:checked ~ label.footer__title1::after {
    color: #fff;
    content: "-";
  }
  #footer-check1:checked ~ .footer__drop1 {
    display: block;
    margin-top: 30px;
  }
  #footer-check2:checked ~ label.footer__title2::after {
    color: #fff;
    content: "-";
  }
  #footer-check2:checked ~ .footer__drop2 {
    display: block;
    margin-top: 30px;
  }
  #footer-check3:checked ~ label.footer__title3::after {
    color: #fff;
    content: "-";
  }
  #footer-check3:checked ~ .footer__drop3 {
    display: block;
    margin-top: 30px;
  }
}
@media (max-width: 575px) {
  .footer__inner {
    padding: 46px 0 0;
  }
  .footer__content {
    padding-top: 45px;
  }
  .footer__item {
    padding-right: 0;
  }
  .footer__contact {
    padding: 8px;
  }
  .footer__support {
    display: block;
    padding: 30px 8px;
  }
  .footer__logo {
    display: none;
  }
  .footer__number {
    right: 8px;
  }
  .footer__title {
    padding: 0 13px 0 8px;
  }
  .footer__copyright {
    padding-left: 8px;
  }
}/*# sourceMappingURL=style.css.map */