@use 'vars' as v;

body {
    color: v.$color-text;
    font-family: lato, sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 150px;
    margin: 0 auto;
}

