@use 'vars' as v;

body {
    color: v.$color-text;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 150px;
    margin: 0 auto;
}

.page {
    width: 100%;
    max-width: 1440px;
    padding: 0 150px;
    margin: 0 auto;
}

.title {
    font-size: 36px;
    margin-bottom: 70px;
}

@media (max-width: 960px) {
    .page,
    .container {
        padding: 0 75px;
    }
}

@media (max-width: 768px) {
    .page, 
    .container {
        padding: 0 35px;
    }
}

@media (max-width: 575px) {
    .page:not(header>.page) {
        overflow-x: hidden;
    }
    .page {
        padding: 0 8px;
    }
}