
// ! Colors
$color1: #1074EB; //blue
$color2: #FF9900; //orange
$color3: #E92626; //red
$color-text: #383838; //header text - black
$color5: #9C9C9C; //header text - strong grey
$color6: #C9C9C9; //grey
$color7: #F7F7F7; //light grey
$color8: #A5B5E2; //sub category

// ! Font sizes
$headerFontSize: calc(48px + 16 * (100vw / 1440));
