@use '../vars' as v;

.advant {
    margin-bottom: 100px;
    &__content {
        &-item {
            width: 25%;
            height: 250px;
            background: v.$color7;
            padding: 30px 10px;
            text-align: center;
        }
    }
    &__img {
        margin-bottom: 30px;
    }
    &__caption {
        margin-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        color: v.$color5;
    }
    // Slider
    & .slick-list {
        overflow: hidden;
    }
    & .slick-track {
        display: flex;
        gap: 30px;
    }
}