@use '../vars' as v;

@media (max-width: 1400px) {
    .advant {
        &__content-item {
            padding: 15px 8px;
        }
        // Slider
        & .slick-track {
            gap: 25px;
        }
    }
}

@media (max-width: 1280px) {
    .advant {
        &__img {
            margin-bottom: 15px;
        }
        &__caption {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 1024px) {
    .advant {
        // Slider
        & .slick-track {
            gap: 10px;
        }
    }
}

@media (max-width: 960px) {
    .advant {
        & .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            & li {
                margin: 0 8px;
                &.slick-active button {
                    background-color: v.$color1;
                }
            }
            & button {
                font-size: 0;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: rgba(16, 116, 235, 0.3);
            }
        }
    }
}
