@use '../vars' as v;

.features {
    background: v.$color7;
    padding: 0 30px;
    margin-bottom: 30px;
    &__title {
        font-size: 24px;
        padding: 30px 0;
        border-bottom: 1px solid v.$color6;
    }

    &__inner {
        margin-top: 30px;
        height: 270px;
	    column-count: 2;
	    column-gap: 4%;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}