@use '../vars' as v;

//header__top
.header {
    font-size: 16px;
    margin-bottom: 20px;

    &__top {
        background-color: v.$color7;
    }

    &__top-container {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &__item, &__main {
        display: flex;
        gap: 30px;

        &-center {
            gap: 10px;
        }
    }

    &__circles {
        display: flex;
        gap: 4px;
        justify-content: space-around;
        align-items: center;
    }

    &__circle {
        background: v.$color1;
        width: 4px;
        height: 4px;
        border-radius: 50%;
    }

    &__link:hover, &__icon:hover {
        color: v.$color5;
    }

    &__icon {
        font-size: 20px;
    }

    &__main {
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    &__contact {
        font-size: 25px;
        font-weight: 500;
    }

    &__contact-icon {
        display: none;
        color: #1074EB;
        font-size: 31px;
    }

    &__form {
        position: relative;
        width: 292px;
    }

    &__search {
        width: 100%;
        height: 37px;
        padding-left: 10px;
        border: 1px solid v.$color6;
        border-radius: 3px;
        &-btn {
            position: absolute;
            right: 1.7%;
            top: 50%;
            border-radius: 3px;
            padding: 3px 10px 5px;
            background: v.$color1;
            color: #fff;
            transform: translateY(-50%);
        }
    }

    &__social {
        display: flex;
        gap: 15px;
        &-icon {
            color: v.$color1;
            font-size: 20px;
            &:last-child {
                color: v.$color3;
            }
        }
    }

    &__btn {
        background: v.$color2;
        padding: 8px 14px 10px 15px;
        color: #fff;
        font-weight: 500;
        border-radius: 3px;
    }

    &__person {
        color: v.$color1;
        font-size: 31px;
    }
}

//nav

.nav {
    height: 55px;
    background: v.$color7;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    border-radius: 3px;
    //gap: 22px;
    position: relative;
    //padding-right: 20px;
    

    &__menu {
        height: 100%;
    }

    &__label {
        background: v.$color1;
        color: #fff;
        padding: 0 20px;
        height: 100%;
        font-weight: 500;
        border-radius: 3px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 5;

        & > span {
            padding-left: 18px;
        }
    }

    &__drop {
        display: none;
        //display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        background: v.$color1;
        color: #fff;
        padding: 56px 15px 0 0;
        z-index: 4;
    }

    &__category-lab {
        background: v.$color1;
        height: 50px;
        display: flex;
        align-items: center;
        padding-right: 15px;
        padding-left: 20px;
        cursor: pointer;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        justify-content: space-between;
        gap: 25px;
        &:hover {
            background: rgba(255, 255, 255, 0.4);
            border-top: 0;
        }
    }

    &__col {
        width: 50%;
        //height: 100%;
        //margin-bottom: 20px;
    }
    
    &__arrow {
        width: 0;
        height: 0;
        border-top:4px solid transparent;
        border-bottom:4px solid transparent;
        border-left:4px solid #fff;
        border-right:0 solid #fff;
    }

    &__submenu {
        display: none;
        position: absolute;
        top: 0;
        left: 99%;
        padding: 70px 15px 30px 15px;
        background: v.$color1;
        height: 100%;
        width: 500px;
        border-radius: 0 3px 0 0;
        //white-space: pre-wrap;
        &-item {
            position: relative;
            margin-bottom: 22px;
            & span {
                color: v.$color8;
            }
        }
        &-inner {
            display: flex;
            overflow-y: scroll;
            height: 100%;
            &::-webkit-scrollbar {
                width: 8px;
                background-color: rgba(56, 56, 56, 0.3);
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: v.$color-text;
                border-radius: 10px;
                height: 20px;
            }
        }
    }

    &__sub {
        cursor: pointer;
        white-space: pre-wrap;
        &-list {
            display: none;
            li {
                margin: 15px 0 0 40px;
                font-size: 14px;
                & span {
                color: v.$color8;
                }
            }
        }
    }

    &__check {
        display: none;
        &:checked ~ .nav__drop {
            display: flex;
            border-radius: 3px 3px 0 0;
        }

        &:checked ~ .bg {
            position: absolute;
            top: -100vh;
            left: -100vw;
            background: #000;
            opacity: 0.7;
            width: 200vw;
            height: 1000vh;
            z-index: 4;
        }
    }

    &__check2 {
        display: none;
        &:checked ~ .nav__drop {
            border-radius: 3px 0 0 0;
        }
    }

    &__check3 ~ .nav__sub::before {
        content: '\+';
        text-align: center;
        width: 21px;
        height: 21px;
        background: #383838;
        border-radius: 3px;
        margin-right: 10px;
        display: inline-block;
    }
}

.test {
    height: 900px;
    width: 100%;
}

@for $i from 0 to 10 {
    $num: $i + 1;
    #category-check#{$num} {
        &:checked ~ .category-check#{$num} {
            background: rgba(255, 255, 255, 0.4);
            border-top: 0;
        }
        &:checked ~ .nav__submenu#{$num} {
            display: block;
        }
    }
}

@for $i from 0 to 91 {
    $n: $i + 1;
    #sub-check#{$n} {
        &:checked ~ .sub-check#{$n}::before {
            color: #fff;
            content: '\-';
        }
        &:checked ~ .nav__sub-list#{$n} {
           display: block;
        }
    }
}

//nav__slider
.nav {
    &__slider {
        display: flex;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    &__link {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

//slick
.header {
    & .slider {
        padding: 0 20px;
    }

    & .slick-track {
        display: flex;
        height: 100%;
        gap: 23px;
    }

    & .slick-list {
        overflow: hidden;
    }

    & .slider .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        font-size: 0;
        background: transparent;
    }

    /*& .slider .slick-arrow.slick-prev {
        left: 10px;
        border-top:5px solid transparent;
        border-bottom:5px solid transparent;
        border-right:5px solid v.$color5;
        border-left:0 solid v.$color5;
    }*/

    & .slider .slick-arrow.slick-next {
        right: 10px;
        border-top:5px solid transparent;
        border-bottom:5px solid transparent;
        border-left:5px solid v.$color5;
        border-right:0 solid v.$color5;
    }

    & .grad-box {
        width: 80px;
        height: 100%;
        position: absolute;
        right: 0;
        background: linear-gradient(to right, transparent 0%, v.$color7 75%);
        z-index: 2;
    }
}