@use '../vars' as v;

.intro {
    margin-bottom: 110px;
    width: 100%;
    max-width: 1140px;
    position: relative;
    &__inner {
        position: relative;
        width: 100%;
        max-width: 1140px;
    }
    &__slider-item {
        display: flex;
        height: 500px;
        max-width: 1140px;
        position: relative;
        border-radius: 3px;
    }
    &__slider-first {
        background: url('../../images/intro/stars.svg') no-repeat, #EEF1F8;
        background-size: cover;
        background-position: center;
        & .intro__img img {   
            bottom: 50%;
            transform: translateY(50%);
        }
    }
    &__slider-second {
        background: url('../../images/intro/bg-slide2.png') no-repeat;
        background-size: cover;
        background-position: center;
        & .intro__content { 
            width: 55%;
        }
        & .intro__title {
            color: #fff;
            margin-bottom: 15px;
        }
        & .intro__img img {
            bottom: 0;
        }
    }
    &__slider-third {
        background: #F5F5F5;
        overflow: hidden;
        & span {
            font-weight: 800;
        }
        & .intro__title {
            text-transform: uppercase;
        }
        &__content {
            position: relative;
            z-index: 20;
        }
        &:after {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        background: url('../../images/intro/bg-slide3.png') center / 50% no-repeat;
        transform: translate3d(-50%, -50%);
        z-index: 0;
        }
        & .intro__img img {   
            right: 50%;
            bottom: 50%;
            transform: translate(50%, 50%);
        }
    }
    &__content {
        width: 50%;
        padding: 85px 20px 70px 8.5%;
        z-index: 1;
    }
    &__title {
        font-size: 64px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__text {
        color: v.$color5;
    }
    &__btn {
        height: 55px;
        background: v.$color1;
        color: #fff;
        width: 185px;
        border-radius: 3px;
        position: absolute;
        bottom: 72px;
        left: 8.5%;
        z-index: 1;
    }
    &__img {
        width: 50%;
        position: relative;
        z-index: 2;
        & > img {
           max-width: 100%;
           height: auto;
           position: absolute;
        }
    }
    &__slider-third img {
        max-width: 440px;
    }
    &__link {
        text-transform: uppercase;
        font-size: 16px;
        padding: 10px 15px;
        background: url('../../images/intro/snow-btn.png');
        color: #fff;
        position: absolute;
        left: 20px;
        top: 55%;
        border-radius: 3px;
    }
    &__price {
        text-transform: uppercase;
        background: url('../../images/intro/snow-price.png');
        color: #fff;
        padding: 10px 15px;
        font-size: 16px;
        position: absolute;
        top: 25%;
        right: 10%;
        border-radius: 3px;
    }
    &__border-box {
        width: 100px;
        height: 100px;
        position: absolute;
    }
    & .box1 {
        border-top: 1px solid v.$color6;
        border-left: 1px solid v.$color6;
        top: 30px;
        left: 30px;
    }
    & .box2 {
        border-top: 1px solid v.$color6;
        border-right: 1px solid v.$color6;
        top: 50%;
        left: -80px;
        transform: translateY(-50%) rotate(45deg);
    }
    & .box3 {
        border-bottom: 1px solid v.$color6;
        border-left: 1px solid v.$color6;
        bottom: 30px;
        left: 30px;
    }
    & .box4 {
        border-top: 1px solid v.$color6;
        border-right: 1px solid v.$color6;
        left: 50%;
        bottom: -80px;
        transform: translateX(-50%) rotate(-45deg);
    }
    & .box5 {
        border-bottom: 1px solid v.$color6;
        border-right: 1px solid v.$color6;
        bottom: 30px;
        right: 30px;
    }
    & .box6 {
        border-top: 1px solid v.$color6;
        border-right: 1px solid v.$color6;
        top: 50%;
        right: -80px;
        transform: translateY(-50%) rotate(225deg);
    }
    & .box7 {
        border-top: 1px solid v.$color6;
        border-right: 1px solid v.$color6;
        top: 30px;
        right: 30px;
    }
    & .box8 {
        border-top: 1px solid v.$color6;
        border-right: 1px solid v.$color6;
        left: 50%;
        top: -80px;
        transform: translateX(-50%) rotate(-225deg);
    }
}

// Slider 
.intro__inner {
    & .slick-list {
        overflow: hidden;
    }
    & .slick-track {
        display: flex;
        gap: 3px;
    }
    &.slick-slider {
        position: relative;
    }
    & .slick-arrow {
        width: 55px;
        height: 55px;
        background: v.$color1;
        border-radius: 3px;
        font-size: 0;
        position: absolute;
        bottom: 14.5%;
    }
    & .slick-prev {
        left: 303px;
        z-index: 1;
        &:after {
            content: "";
            width: 7px;
            height: 14px;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-right: 7px solid #fff;
            border-left: 0 solid #fff;
        }
    }
    & .slick-next {
        left: 368px;
        z-index: 1;
        &:after {
            content: "";
            width: 7px;
            height: 14px;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid #fff;
            border-right: 0 solid #fff;
        }
    }
}