@use '../vars' as v;

.intro {
    margin-bottom: 110px;
    &__slider-item {
        display: flex;
        height: 500px;
        width: 1140px;
        position: relative;
        border-radius: 3px;
    }
    &__slider-first {
        background: url('../../images/intro/stars.svg') no-repeat, #EEF1F8;
    }
    &__slider-second {
        background: url(../../images/intro/bg-slide2.png) no-repeat;
        & .intro__title {
            color: #fff;
            margin-bottom: 15px;
        }
        & .intro__content {
            padding: 70px 0 70px 100px;
            z-index: 2;
        }
        & .intro__text {
                font-size: 36px;
        } 
        & .intro__img {
            z-index: 2;
        }
    }
    &__slider-third {
        background: url(../../images/intro/bg-slide3.png) 50% no-repeat, #F5F5F5;
        overflow: hidden;
        & span {
            font-weight: 800;
        }

        & .intro__title {
            text-transform: uppercase;
        }
    }

    &__content {
        width: 50%;
        padding: 85px 150px 70px 100px;
    }

    &__title {
        font-size: 64px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__text {
        color: v.$color5;
        width: 300px;
        margin-bottom: 50px;
    }

    &__buttons {
        height: 55px;
        display: flex;
        position: absolute;
        bottom: 77px;
    }

    &__btn {
        background: v.$color1;
        color: #fff;
        height: 55px;
        padding: 18px 50px;
        border-radius: 3px;
    }

    &__img {
        display: flex;
        width: 50%;
        align-items: center;
        position: relative;
        
        &-2 img {
            max-width: 570px;
            height: 100%
        }
        &-3 img {
            max-width: 450px;
        }
    }

    &__link {
        text-transform: uppercase;
        font-size: 16px;
        padding: 10px 15px;
        background: v.$color1;
        color: #fff;
        position: absolute;
        left: 20px;
        top: 55%;
    }

    &__price {
        text-transform: uppercase;
        background: v.$color2;
        color: #fff;
        padding: 10px 15px;
        position: absolute;
        top: 25%;
        right: 10%;
    }

    &__img1 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &__img2 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__img3 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__img4 {
        position: absolute;
        bottom: 8%;
        right: 0;
    }

    &__snow {
        background: url(../../images/intro/snow.png) no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 200;
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    &__border-box {
        width: 100px;
        height: 100px;
        position: absolute;
    }

    & .box1 {
        border-top: 1px solid v.$color6;
        border-left: 1px solid v.$color6;
        top: 30px;
        left: 30px;
    }

    & .box2 {
        border-top: 1px solid v.$color6;
        border-right: 1px solid v.$color6;
        top: 50%;
        left: -80px;
        transform: translateY(-50%) rotate(45deg);
    }

    & .box3 {
        border-bottom: 1px solid v.$color6;
        border-left: 1px solid v.$color6;
        bottom: 30px;
        left: 30px;
    }

    & .box4 {
        border-top: 1px solid v.$color6;
        border-right: 1px solid v.$color6;
        left: 50%;
        bottom: -80px;
        transform: translateX(-50%) rotate(-45deg);
    }

    & .box5 {
        border-bottom: 1px solid v.$color6;
        border-right: 1px solid v.$color6;
        bottom: 30px;
        right: 30px;
    }

    & .box6 {
        border-top: 1px solid v.$color6;
        border-right: 1px solid v.$color6;
        top: 50%;
        right: -80px;
        transform: translateY(-50%) rotate(225deg);
    }

    & .box7 {
        border-top: 1px solid v.$color6;
        border-right: 1px solid v.$color6;
        top: 30px;
        right: 30px;
    }

    & .box8 {
        border-top: 1px solid v.$color6;
        border-right: 1px solid v.$color6;
        left: 50%;
        top: -80px;
        transform: translateX(-50%) rotate(-225deg);
    }
}

// Slider 
.intro__inner {

    & .slick-list {
        overflow: hidden;
    }
    & .slick-track {
        display: flex;
        gap: 1px;
    }
    & .slick-arrow {
        position: absolute;
        left: 0;
        bottom: 77px;
        z-index: 3;
        font-size: 0;
        background: transparent;
        border-radius: 3px;
    }
    &.slick-slider {
        position: relative;
    }
    & .intro-prev {
        height: 100%;
        width: 55px;
        margin-left: 33px;
        border-radius: 3px;
        background: v.$color1;
    }
    & .intro__arrow-prev {
        width: 7px;
        height: 14px;
        margin: 0 auto;
        border-top:7px solid transparent;
        border-bottom:7px solid transparent;
        border-right:7px solid #fff;
        border-left:0 solid #fff;
    }
    & .slick-arrow.slick-prev {
        left: 305px;
        width: 55px;
        height: 55px;
    }
    & .slick-arrow.slick-next {
        left: 370px;
        width: 55px;
        height: 55px;
    }
    & .intro-next {
        height: 100%;
        width: 55px;
        margin-left: 10px;
        border-radius: 3px;
        background: v.$color1;
    }
    & .intro__arrow-next {
        width: 7px;
        height: 14px;
        margin: 0 auto;
        border-top:7px solid transparent;
        border-bottom:7px solid transparent;
        border-left:7px solid #fff;
        border-right:0 solid #fff;
    }
}